<br/>
<h1> Starships - {{starship_dic.name}} </h1>
<br/>

<br/>
<table width="700px">

  <tr>

    <th align="left"> Model </th>
    <td>{{starship_dic.model}}</td>

  </tr>

  <tr>

    <th align="left"> Manufacturers </th>
    <td>{{starship_dic.manufacturers}}</td>

  </tr>

  <tr>

    <th align="left"> Cost in Credits </th>
    <td>{{starship_dic.costInCredits}}</td>

  </tr>

  <tr>

    <th align="left"> Length </th>
    <td>{{starship_dic.length}}</td>

  </tr>

  <tr>

    <th align="left"> Max Atmosphering Speed </th>
    <td>{{starship_dic.maxAtmospheringSpeed}}</td>

  </tr>

  <tr>

    <th align="left"> Crew </th>
    <td>{{starship_dic.crew}}</td>

  </tr>

  <tr>

    <th align="left"> Passengers </th>
    <td>{{starship_dic.passengers}}</td>

  </tr>

  <tr>

    <th align="left"> Cargo Capacity </th>
    <td>{{starship_dic.cargoCapacity}}</td>

  </tr>

  <tr>

    <th align="left"> Consumables </th>
    <td>{{starship_dic.consumables}}</td>

  </tr>

  <tr>

    <th align="left"> Hyper Drive Rating </th>
    <td>{{starship_dic.hyperdriveRating}}</td>

  </tr>

  <tr>

    <th align="left"> MGLT </th>
    <td>{{starship_dic.MGLT}}</td>

  </tr>

  <tr>

    <th align="left"> Starship Class </th>
    <td>{{starship_dic.starshipClass}}</td>

  </tr>

  <tr>

    <th align="left"> Created </th>
    <td>{{starship_dic.created}}</td>

  </tr>

  <tr>

    <th align="left"> Edited </th>
    <td>{{starship_dic.edited}}</td>

  </tr>


  </table>
  <br/>

  <table style="width:1200px">

  <tr>

    <th align="left"> Pilots </th>

    {% for pilot in pilots %}
      <td> <a href="/characters/{{pilot.id}}">{{pilot.name}}</a></td>
    {% endfor %}

  </tr>

</table>

  <br/>

  <table style="width:1200px">

  <tr>

    <th align="left"> Films </th>

    {% for film in films %}
      <td> <a href="/movie_info/{{film.id}}">{{film.title}}</a></td>
    {% endfor %}

  </tr>

</table>

<br/>
